$white: #fff;
$red: #fc635e;
$lightRed: #fe8682;
$grey: #868686;
$lightGrey: #adadad;
$darkGrey: #4f4d4d;
$light: #f2f2f2;
$moreLightGrey: #9e9898;
$moreDarkGrey: #565656;
$spanTitle: #7d7b79;
$darkWhite: #767676;

//Font-sizes

$smallFontSize: 16px;
$moreBigFontSize: 15px;
$bigFontSize: 51px;
$normalFontSize: 24px;
$regularFontSize: 20px;
$moreBigThanFontSize: 28px;
$lessBigThanFontSize: 27px;
$fontThin: 'SourseSanPro_thin';
$fontBold: 'SourseSanPro_bold';
$fontLight: 'SourseSanPro_light';
$fontMedium: 'SourseSanPro_medium';
