@font-face{
  font-family: 'SourseSanPro_bold';
  src: url('../fonts/sourcesansprobold-webfont.eot');
  src: url('../fonts/sourcesansprobold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/sourcesansprobold-webfont.woff') format('woff'),
      url('../fonts/sourcesansprobold-webfont.woff2') format('woff2'),
      url('../fonts/sourcesansprobold-webfont.ttf') format('truetype'),
}
@font-face{
  font-family: 'SourseSanPro_thin';
  src: url('../fonts/sourcesansproextralight-webfont.eot');
  src: url('../fonts/sourcesansproextralight-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/sourcesansproextralight-webfont.woff') format('woff'),
      url('../fonts/sourcesansproextralight-webfont.woff2') format('woff2'),
      url('../fonts/sourcesansproextra;ight-webfont.ttf') format('truetype'),

}
@font-face {
  font-family: 'SourseSanPro_light';
  src: url('../fonts/sourcesansprolight-webfont.eot');
  src: url('../fonts/sourcesansprolight-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/sourcesansprolight-webfont.woff') format('woff'),
      url('../fonts/sourcesansprolight-webfont.woff2') format('woff2'),
      url('../fonts/sourcesansprolight-webfont.ttf') format('truetype'),
}
@font-face {
  font-family: 'SourseSanPro_medium';
  src: url('../fonts/sourcesanspro-webfont.eot');
  src: url('../fonts/sourcesanspro-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/sourcesanspro-webfont.woff') format('woff'),
      url('../fonts/sourcesanspro-webfont.woff2') format('woff2'),
      url('../fonts/sourcesanspro-webfont.ttf') format('truetype'),
}
